DB_HOST = 'localhost'
DB_PORT = '5432'
DB_USER = 'your_db_user'
DB_PASS = 'your_db_password'
DB_NAME = 'your_database_name'

DISCORD_TOKEN = ""
DISCORD_CLIENT_ID = ""
DISCORD_GUILD_ID = ""

YOUTUBE_API_KEY = ""
GROQ_API_KEY = ""

PERPLEXICA_API = ""
WHISPER_API = ""

SPOTIFY_CLIENT_ID = ""
SPOTIFY_CLIENT_SECRET = ""