.env
.DS_Store
.vagrant/
.vscode

/bin/*
node_modules/
audio_files/generated/pcm/*
audio_files/generated/tts/*
audio_files/generated/wav/*
audio_files/generated/youtube/*
chat_history/*
user_data/*
!user_data/example_user_folder
storage/

cookies.json

config.json
database.json
database.dev.json
database.prod.json
config.dev.json
config.prod.json

TODO.txt