.env
.DS_Store
.vagrant/
.vscode
.direnv/

/bin/*
node_modules/
audio_files/generated/pcm/*
audio_files/generated/tts/*
audio_files/generated/wav/*
audio_files/generated/youtube/*
chat_history/*
user_data/*
storage/

cookies.json

config.json
database.json
database.dev.json
database.prod.json
config.dev.json
config.prod.json
